/raw_reviews_poland.tar.bz2
/raw_reviews_poland/
/raw_reviews_poland_test.tar.bz2
/raw_reviews_poland_test/
/processed_reviews_poland.tar.bz2
/processed_reviews_poland/
/processing_metadata_poland.tar.bz2
/processing_metadata_poland/